/* Global */
* {
    padding: 0;
    /* margin: 0; */
}

/* Style the countries tab */
.countries {
    /* width: 100%; */
    background-color: #eee;
    overflow: auto;
    border: 1px solid #c5c5c5;
}

/* Style the button that will i use to open the tab content */
.countries button {
    float: left;
    border: none;
    outline: none;
    /* width: 33.33%; */
    padding: 14px 16px;
    color: #000;
    transition: 0.3s;
}

/* Create an active/current tablink class */



/* Change background color of buttons on hover */
.countries button:hover {
    background-color: #ccc;
    cursor: pointer;
}

/* Style the countries content after clicking the button */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    /* padding-left: 5px; */
    padding: 6px 12px;
}

/* Style the close button */
.topright {
    float: right;
    font-size: 30px;
    cursor: pointer;
}
